:root {
  --eand-border-radius-1: 4px;
  --eand-border-radius-2: 8px;
  --eand-border-radius-3: 12px;
  --eand-border-radius-4: 14px;
  --eand-border-radius-5: 16px;
  --eand-border-radius-6: 20px;
  --eand-border-radius-7: 24px;
  --eand-border-radius-8: 1200px;
  --eand-border-lg: 2px;
  --eand-border-md: 1.5px;
  --eand-border-sm: 1px;
  --eand-border-xl: 4px;
  --eand-border-xs: 0.5px;
  --eand-card-height-lg: 272px;
  --eand-card-height-md: 192px;
  --eand-card-height-sm: 96px;
  --eand-card-height-xl: 472px;
  --eand-card-width-lg: 224px;
  --eand-card-width-md: 152px;
  --eand-card-width-sm: 88px;
  --eand-card-width-xl: 336px;
  --eand-checkbox-md: 20px;
  --eand-checkbox-sm: 16px;
  --eand-checkbox-xl: 24px;
  --eand-icon-2xl: 32px;
  --eand-icon-3xl: 40px;
  --eand-icon-4xl: 48px;
  --eand-icon-lg: 20px;
  --eand-icon-md: 16px;
  --eand-icon-sm: 12px;
  --eand-icon-xl: 24px;
  --eand-icon-xs: 8px;
  --eand-radio-md: 24px;
  --eand-radio-sm: 20px;
  --eand-scale-2: 2px;
  --eand-scale-4: 4px;
  --eand-scale-8: 8px;
  --eand-scale-12: 12px;
  --eand-scale-16: 16px;
  --eand-scale-20: 20px;
  --eand-scale-24: 24px;
  --eand-scale-32: 32px;
  --eand-scale-40: 40px;
  --eand-scale-48: 48px;
  --eand-scale-56: 56px;
  --eand-scale-64: 64px;
  --eand-scale-72: 72px;
  --eand-scale-80: 80px;
  --eand-scale-96: 96px;
  --eand-scale-112: 112px;
  --eand-scale-128: 128px;
  --eand-scale-144: 144px;
  --eand-scale-160: 160px;
  --eand-scale-176: 176px;
  --eand-scale-192: 192px;
  --eand-section-link-lg: 40px;
  --eand-section-link-md: 36px;
  --eand-section-link-sm: 32px;
  --eand-section-body-height-row-1: 72px;
  --eand-section-body-height-row-2: 148px;
  --eand-section-body-height-row-3: 224px;
  --eand-section-body-height-row-4: 300px;
  --eand-section-body-height-row-6: 452px;
  --eand-section-body-width-col-12: 166px;
  --eand-section-body-width-col-6: 72px;
  --eand-section-body-width-col-8: 148px;
  --eand-section-body-width-row-16: 224px;
  --eand-spacing-2xl: 24px;
  --eand-spacing-2xs: 2px;
  --eand-spacing-3xl: 32px;
  --eand-spacing-4xl: 40px;
  --eand-spacing-5xl: 48px;
  --eand-spacing-6xl: 56px;
  --eand-spacing-7xl: 64px;
  --eand-spacing-8xl: 72px;
  --eand-spacing-lg: 16px;
  --eand-spacing-md: 12px;
  --eand-spacing-sm: 8px;
  --eand-spacing-xl: 20px;
  --eand-spacing-xs: 4px;
  --eand-switcher-thumb-height-md: 20px;
  --eand-switcher-thumb-height-sm: 16px;
  --eand-switcher-thumb-width-md: 20px;
  --eand-switcher-thumb-width-sm: 16px;
  --eand-switcher-track-height-md: 24px;
  --eand-switcher-track-height-sm: 20px;
  --eand-switcher-track-width-md: 40px;
  --eand-switcher-track-width-sm: 32px;
  --eand-tabs-height-md: 40px;
  --eand-tabs-height-sm: 36px;
  --eand-color-green-50: #f9fefb;
  --eand-color-green-100: #edfdf2;
  --eand-color-green-200: #dafbe3;
  --eand-color-green-300: #c1f7d0;
  --eand-color-green-400: #9ff3b7;
  --eand-color-green-500: #6ced90;
  --eand-color-green-600: #54bc72;
  --eand-color-green-700: #3b8b53;
  --eand-color-green-800: #27633b;
  --eand-color-green-900: #164025;
  --eand-color-green-1000: #0e2916;
  --eand-color-midnight-50: #f7f7fa;
  --eand-color-midnight-100: #f0f0f5;
  --eand-color-midnight-150: #e4e3ea;
  --eand-color-midnight-200: #d8d7de;
  --eand-color-midnight-300: #c0bfc8;
  --eand-color-midnight-400: #a8a6b1;
  --eand-color-midnight-500: #908e9a;
  --eand-color-midnight-600: #797584;
  --eand-color-midnight-700: #615d6d;
  --eand-color-midnight-750: #575362;
  --eand-color-midnight-800: #494456;
  --eand-color-midnight-900: #312c40;
  --eand-color-midnight-1000: #191329;
  --eand-color-midnight-1100: #140f21;
  --eand-color-midnight-a10: rgba(25, 19, 41, 0.10);
  --eand-color-midnight-a20: rgba(25, 19, 41, 0.20);
  --eand-color-midnight-a30: rgba(25, 19, 41, 0.30);
  --eand-color-midnight-a40: rgba(25, 19, 41, 0.40);
  --eand-color-midnight-a50: rgba(25, 19, 41, 0.50);
  --eand-color-midnight-a60: rgba(25, 19, 41, 0.60);
  --eand-color-midnight-a70: rgba(25, 19, 41, 0.70);
  --eand-color-midnight-a75: rgba(25, 19, 41, 0.75);
  --eand-color-midnight-a7: rgba(25, 19, 41, 0.07);
  --eand-color-midnight-a80: rgba(25, 19, 41, 0.80);
  --eand-color-midnight-a90: rgba(25, 19, 41, 0.90);
  --eand-color-orange-50: #fff8f3;
  --eand-color-orange-100: #ffeedd;
  --eand-color-orange-200: #ffe0c4;
  --eand-color-orange-300: #ffd1a8;
  --eand-color-orange-400: #ffc28b;
  --eand-color-orange-450: #ffb16f;
  --eand-color-orange-500: #ff9f52;
  --eand-color-orange-600: #e07830;
  --eand-color-orange-700: #b85a1a;
  --eand-color-orange-800: #8c3f0c;
  --eand-color-orange-900: #612a05;
  --eand-color-orange-1000: #3a1602;
  --eand-color-red-50: #fff2f2;
  --eand-color-red-100: #fce6e6;
  --eand-color-red-200: #f9cecc;
  --eand-color-red-300: #f6b5b3;
  --eand-color-red-400: #f39c99;
  --eand-color-red-500: #f08480;
  --eand-color-red-600: #ed6b66;
  --eand-color-red-700: #e9524d;
  --eand-color-red-800: #e73933;
  --eand-color-red-900: #e3211a;
  --eand-color-red-1000: #e00800;
  --eand-color-red-1100: #bb0700;
  --eand-color-red-1200: #950500;
  --eand-color-red-1300: #700400;
  --eand-color-red-1400: #4b0300;
  --eand-color-red-1500: #2d0200;
  --eand-color-special-blue-platinum-300: #c2c1e7;
  --eand-color-special-blue-platinum-1000: #595779;
  --eand-color-special-bronze-700: #e8b8a4;
  --eand-color-special-bronze-1000: #9f5739;
  --eand-color-special-burgundy-70: #f2e6e9;
  --eand-color-special-burgundy-100: #e5ccd3;
  --eand-color-special-burgundy-200: #d3aab6;
  --eand-color-special-burgundy-300: #be8092;
  --eand-color-special-burgundy-400: #a8566d;
  --eand-color-special-burgundy-500: #922b49;
  --eand-color-special-burgundy-550: #7c0124;
  --eand-color-special-burgundy-600: #67011e;
  --eand-color-special-burgundy-700: #530118;
  --eand-color-special-burgundy-800: #3e0112;
  --eand-color-special-burgundy-900: #29000c;
  --eand-color-special-burgundy-1000: #190007;
  --eand-color-special-gold-200: #f6eed2;
  --eand-color-special-gold-400: #f1e3b4;
  --eand-color-special-gold-600: #e2c668;
  --eand-color-special-gold-800: #b78d3b;
  --eand-color-special-gold-1000: #a17a2f;
  --eand-color-special-mauve-70: #f0e9ed;
  --eand-color-special-mauve-100: #e0d2da;
  --eand-color-special-mauve-200: #cbb3c1;
  --eand-color-special-mauve-300: #b18ea3;
  --eand-color-special-mauve-400: #976884;
  --eand-color-special-mauve-500: #7d4265;
  --eand-color-special-mauve-550: #631c46;
  --eand-color-special-mauve-600: #53173a;
  --eand-color-special-mauve-700: #42132f;
  --eand-color-special-mauve-800: #320e23;
  --eand-color-special-mauve-900: #210917;
  --eand-color-special-mauve-1000: #14060e;
  --eand-color-special-pink-1000: #bb2d81;
  --eand-color-special-pink-1100: #a92573;
  --eand-color-special-red-sand-100: #f6e8e7;
  --eand-color-special-red-sand-200: #f0d9d7;
  --eand-color-special-red-sand-300: #e8c6c3;
  --eand-color-special-red-sand-400: #e0b3ae;
  --eand-color-special-red-sand-500: #d9a09a;
  --eand-color-special-red-sand-550: #d18d86;
  --eand-color-special-red-sand-600: #ae7670;
  --eand-color-special-red-sand-700: #8b5e59;
  --eand-color-special-red-sand-800: #694743;
  --eand-color-special-red-sand-900: #462f2d;
  --eand-color-special-red-sand-1000: #2a1c1b;
  --eand-color-special-silver-1000: #e8e7ea;
  --eand-color-special-teal-70: #eff2f2;
  --eand-color-special-teal-100: #d0d7d8;
  --eand-color-special-teal-150: #dadfdf;
  --eand-color-special-teal-200: #b1bcbd;
  --eand-color-special-teal-300: #8b9b9d;
  --eand-color-special-teal-400: #64797c;
  --eand-color-special-teal-500: #3d585b;
  --eand-color-special-teal-550: #16363a;
  --eand-color-special-teal-600: #122d30;
  --eand-color-special-teal-700: #0f2427;
  --eand-color-special-teal-800: #0b1b1d;
  --eand-color-special-teal-900: #071213;
  --eand-color-special-teal-1000: #040b0c;
  --eand-color-white-1000: #ffffff;
  --eand-color-white-a10: rgba(255, 255, 255, 0.10);
  --eand-color-white-a15: rgba(255, 255, 255, 0.15);
  --eand-color-white-a20: rgba(255, 255, 255, 0.20);
  --eand-color-white-a30: rgba(255, 255, 255, 0.30);
  --eand-color-white-a40: rgba(255, 255, 255, 0.40);
  --eand-color-white-a50: rgba(255, 255, 255, 0.50);
  --eand-color-white-a5: rgba(255, 255, 255, 0.05);
  --eand-color-white-a60: rgba(255, 255, 255, 0.60);
  --eand-color-white-a70: rgba(255, 255, 255, 0.70);
  --eand-color-white-a75: rgba(255, 255, 255, 0.75);
  --eand-color-white-a80: rgba(255, 255, 255, 0.80);
  --eand-color-white-a90: rgba(255, 255, 255, 0.90);
  --eand-color-yellow-100: #fff7dd;
  --eand-color-yellow-200: #fff2c7;
  --eand-color-yellow-300: #ffecab;
  --eand-color-yellow-400: #ffe68f;
  --eand-color-yellow-500: #ffdf73;
  --eand-color-yellow-550: #ffd957;
  --eand-color-yellow-600: #d5b549;
  --eand-color-yellow-700: #aa913a;
  --eand-color-yellow-800: #806d2c;
  --eand-color-yellow-900: #55481d;
  --eand-color-yellow-1000: #332b11;
  --eand-color-alert-message-surface-alert: #ffecab;
  --eand-color-alert-message-surface-info: #e4e3ea;
  --eand-color-alert-message-surface-success: #c1f7d0;
  --eand-color-alert-message-surface-warning: #ffc28b;
  --eand-color-alert-message-text-alert: #55481d;
  --eand-color-alert-message-text-info: #191329;
  --eand-color-alert-message-text-success: #164025;
  --eand-color-alert-message-text-warning: #612a05;
  --eand-color-atom-surfaces-blue: #ebf7fc;
  --eand-color-atom-surfaces-default: #e4e3ea;
  --eand-color-atom-surfaces-green: #ecfce8;
  --eand-color-atom-surfaces-orange: #fcf3eb;
  --eand-color-atom-surfaces-purple: #ebebfc;
  --eand-color-atom-surfaces-red: #fcebeb;
  --eand-color-atom-surfaces-violet: #f9ebfc;
  --eand-color-atom-surfaces-yellow: #fcfceb;
  --eand-color-badge-surface-offers-best-seller: #bb2d81;
  --eand-color-badge-surface-offers-discount: #e00800;
  --eand-color-badge-surface-offers-exclusive-for-emirati: #7c0124;
  --eand-color-badge-surface-offers-green-friday: #e00800;
  --eand-color-badge-surface-offers-limited-stock: #ffd957;
  --eand-color-badge-surface-offers-limited-time: #ffd957;
  --eand-color-badge-surface-offers-mega-deals: #e00800;
  --eand-color-badge-surface-offers-neutral-midnight: #f0f0f5;
  --eand-color-badge-surface-offers-neutral: #191329;
  --eand-color-badge-surface-offers-new-card: #0e2916;
  --eand-color-badge-surface-offers-new-plan: #0e2916;
  --eand-color-badge-surface-offers-online-exclusive: #7c0124;
  --eand-color-badge-surface-offers-sold-out: #797584;
  --eand-color-badge-surface-offers-validity: #ffd957;
  --eand-color-badge-surface-status-brand: #e00800;
  --eand-color-badge-surface-status-danger: #ffb16f;
  --eand-color-badge-surface-status-disabled: #e4e3ea;
  --eand-color-badge-surface-status-neutral-inverse: #191329;
  --eand-color-badge-surface-status-neutral: #f0f0f5;
  --eand-color-badge-surface-status-positive: #6ced90;
  --eand-color-badge-surface-status-warning: #ffdf73;
  --eand-color-badge-text-offers-best-seller: #ffffff;
  --eand-color-badge-text-offers-discount: #ffffff;
  --eand-color-badge-text-offers-exclusive-for-emirati: #ffffff;
  --eand-color-badge-text-offers-green-friday: #ffffff;
  --eand-color-badge-text-offers-limited-stock: #191329;
  --eand-color-badge-text-offers-limited-time: #191329;
  --eand-color-badge-text-offers-mega-deals: #ffffff;
  --eand-color-badge-text-offers-new-card: #ffffff;
  --eand-color-badge-text-offers-new-plan: #ffffff;
  --eand-color-badge-text-offers-online-exclusive: #ffffff;
  --eand-color-badge-text-offers-sold-out: rgba(255, 255, 255, 0.75);
  --eand-color-badge-text-offers-validity: #191329;
  --eand-color-badge-text-status-brand: #ffffff;
  --eand-color-badge-text-status-danger: #191329;
  --eand-color-badge-text-status-disabled: #908e9a;
  --eand-color-badge-text-status-neutral-inverse: #ffffff;
  --eand-color-badge-text-status-neutral: #191329;
  --eand-color-badge-text-status-positive: #191329;
  --eand-color-badge-text-status-warning: #191329;
  --eand-color-badge-text-tiers-bronze-number: #ffffff;
  --eand-color-badge-text-tiers-gold-number-plus: #ffe68f;
  --eand-color-badge-text-tiers-gold-number: #462f2d;
  --eand-color-badge-text-tiers-platinum-number: #191329;
  --eand-color-badge-text-tiers-silver-number-plus: #ffffff;
  --eand-color-badge-text-tiers-silver-number: #191329;
  --eand-color-border-interactive-accent-default: #e00800;
  --eand-color-border-interactive-accent-disabled: #a8a6b1;
  --eand-color-border-interactive-accent-focus: #bb0700;
  --eand-color-border-interactive-accent-muted: #f08480;
  --eand-color-border-interactive-accent-subtle: #e9524d;
  --eand-color-border-interactive-danger-default: #b85a1a;
  --eand-color-border-interactive-danger-disabled: #c0bfc8;
  --eand-color-border-interactive-danger-muted: #ffd1a8;
  --eand-color-border-interactive-danger-subtle: #ff9f52;
  --eand-color-border-interactive-default-default: rgba(25, 19, 41, 0.20);
  --eand-color-border-interactive-default-disabled: rgba(25, 19, 41, 0.07);
  --eand-color-border-interactive-default-focus: #191329;
  --eand-color-border-interactive-default-strong: rgba(25, 19, 41, 0.50);
  --eand-color-border-interactive-default-subtle: rgba(25, 19, 41, 0.10);
  --eand-color-border-interactive-inverse-default: rgba(255, 255, 255, 0.60);
  --eand-color-border-interactive-inverse-disabled: rgba(255, 255, 255, 0.40);
  --eand-color-border-interactive-inverse-focus: #ffffff;
  --eand-color-border-interactive-inverse-strong: rgba(255, 255, 255, 0.80);
  --eand-color-border-interactive-inverse-subtle: rgba(255, 255, 255, 0.40);
  --eand-color-border-interactive-positive-default: #3b8b53;
  --eand-color-border-interactive-positive-disabled: #c0bfc8;
  --eand-color-border-interactive-positive-muted: #c1f7d0;
  --eand-color-border-interactive-positive-subtle: #6ced90;
  --eand-color-border-interactive-warning-default: #aa913a;
  --eand-color-border-interactive-warning-disabled: #c0bfc8;
  --eand-color-border-interactive-warning-muted: #ffecab;
  --eand-color-border-interactive-warning-subtle: #ffd957;
  --eand-color-border-surface-based-base-brand-muted: #f6b5b3;
  --eand-color-border-surface-based-base-brand: #e9524d;
  --eand-color-border-surface-based-base-default: #d8d7de;
  --eand-color-border-surface-based-base-inverse: #e4e3ea;
  --eand-color-border-surface-based-base-midnight: #575362;
  --eand-color-border-surface-based-canvas-brand-muted: #f9cecc;
  --eand-color-border-surface-based-canvas-brand: #ed6b66;
  --eand-color-border-surface-based-canvas-default: #f0f0f5;
  --eand-color-border-surface-based-canvas-inverse: #d8d7de;
  --eand-color-border-surface-based-canvas-midnight: #494456;
  --eand-color-border-surface-based-glass-default-lg: rgba(255, 255, 255, 0.60);
  --eand-color-border-surface-based-glass-default-md: rgba(255, 255, 255, 0.70);
  --eand-color-border-surface-based-glass-default-sm: rgba(255, 255, 255, 0.80);
  --eand-color-border-surface-based-glass-inverse-lg: rgba(255, 255, 255, 0.80);
  --eand-color-border-surface-based-glass-inverse-md: rgba(255, 255, 255, 0.90);
  --eand-color-border-surface-based-glass-inverse-sm: #ffffff;
  --eand-color-border-surface-based-overlay-floating-inverse: #ffffff;
  --eand-color-border-surface-based-overlay-floating: #d8d7de;
  --eand-color-border-surface-based-raised-brand-muted: #f9cecc;
  --eand-color-border-surface-based-raised-brand: #ed6b66;
  --eand-color-border-surface-based-raised-default: #e4e3ea;
  --eand-color-border-surface-based-raised-inverse: #e4e3ea;
  --eand-color-border-surface-based-raised-midnight: #575362;
  --eand-color-border-surface-based-sunken-brand-muted: #f08480;
  --eand-color-border-surface-based-sunken-brand: #e73933;
  --eand-color-border-surface-based-sunken-default: #c0bfc8;
  --eand-color-border-surface-based-sunken-inverse: #d8d7de;
  --eand-color-border-surface-based-sunken-midnight: #494456;
  --eand-color-button-glass-surface-default: rgba(255, 255, 255, 0.15);
  --eand-color-button-glass-surface-disabled: rgba(255, 255, 255, 0.10);
  --eand-color-button-glass-surface-focus: #bb0700;
  --eand-color-button-glass-text-default: #ffffff;
  --eand-color-button-glass-text-disabled: rgba(255, 255, 255, 0.60);
  --eand-color-button-glass-text-focus: #ffffff;
  --eand-color-button-link-text-brand-default: #e00800;
  --eand-color-button-link-text-brand-disabled: #a8a6b1;
  --eand-color-button-link-text-brand-focus: #bb0700;
  --eand-color-button-link-text-inverse-default: #ffffff;
  --eand-color-button-link-text-inverse-disabled: rgba(255, 255, 255, 0.50);
  --eand-color-button-link-text-inverse-focus: #bb0700;
  --eand-color-button-link-text-midnight-default: #191329;
  --eand-color-button-link-text-midnight-disabled: #a8a6b1;
  --eand-color-button-link-text-midnight-focus: #bb0700;
  --eand-color-button-primary-surface-brand-default: #e00800;
  --eand-color-button-primary-surface-brand-disabled: #c0bfc8;
  --eand-color-button-primary-surface-brand-focus: #bb0700;
  --eand-color-button-primary-surface-inverse-default: #ffffff;
  --eand-color-button-primary-surface-inverse-disabled: #f0f0f5;
  --eand-color-button-primary-surface-inverse-focus: #fce6e6;
  --eand-color-button-primary-text-brand-default: #ffffff;
  --eand-color-button-primary-text-brand-disabled: rgba(255, 255, 255, 0.75);
  --eand-color-button-primary-text-brand-focus: #ffffff;
  --eand-color-button-primary-text-inverse-default: #191329;
  --eand-color-button-primary-text-inverse-disabled: #a8a6b1;
  --eand-color-button-primary-text-inverse-focus: #bb0700;
  --eand-color-button-secondary-border-brand-default: #e00800;
  --eand-color-button-secondary-border-brand-disabled: #a8a6b1;
  --eand-color-button-secondary-border-brand-focus: #bb0700;
  --eand-color-button-secondary-border-inverse-default: #ffffff;
  --eand-color-button-secondary-border-inverse-disabled: rgba(255, 255, 255, 0.40);
  --eand-color-button-secondary-border-inverse-focus: rgba(255, 255, 255, 0.40);
  --eand-color-button-secondary-surface-brand-focus: #fce6e6;
  --eand-color-button-secondary-surface-inverse-focus: #312c40;
  --eand-color-button-secondary-text-brand-default: #e00800;
  --eand-color-button-secondary-text-brand-disabled: #a8a6b1;
  --eand-color-button-secondary-text-brand-focus: #bb0700;
  --eand-color-button-secondary-text-inverse-default: #ffffff;
  --eand-color-button-secondary-text-inverse-disabled: rgba(255, 255, 255, 0.75);
  --eand-color-button-secondary-text-inverse-focus: #ffffff;
  --eand-color-button-tertiary-text-brand-default: #e00800;
  --eand-color-button-tertiary-text-brand-disabled: #a8a6b1;
  --eand-color-button-tertiary-text-brand-focus: #bb0700;
  --eand-color-button-tertiary-text-inverse-default: #ffffff;
  --eand-color-button-tertiary-text-inverse-disabled: rgba(255, 255, 255, 0.75);
  --eand-color-button-tertiary-text-inverse-focus: #bb0700;
  --eand-color-button-tertiary-text-midnight-default: #191329;
  --eand-color-button-tertiary-text-midnight-disabled: #a8a6b1;
  --eand-color-button-tertiary-text-midnight-focus: #bb0700;
  --eand-color-chips-default-filled-border-default: rgba(25, 19, 41, 0.50);
  --eand-color-chips-default-filled-border-disabled: rgba(25, 19, 41, 0.20);
  --eand-color-chips-default-filled-border-focus: #191329;
  --eand-color-chips-default-filled-surface-default: #ffffff;
  --eand-color-chips-default-filled-surface-focus: #140f21;
  --eand-color-chips-default-filled-surface-sisabled: rgba(25, 19, 41, 0.07);
  --eand-color-chips-default-filled-text-default: #575362;
  --eand-color-chips-default-filled-text-disabled: #908e9a;
  --eand-color-chips-default-filled-text-focus: #ffffff;
  --eand-color-chips-default-glass-border-default: rgba(255, 255, 255, 0.40);
  --eand-color-chips-default-glass-border-disabled: rgba(255, 255, 255, 0.40);
  --eand-color-chips-default-glass-border-focus: #ffffff;
  --eand-color-chips-default-glass-surface-default: rgba(255, 255, 255, 0.15);
  --eand-color-chips-default-glass-surface-disabled: rgba(255, 255, 255, 0.10);
  --eand-color-chips-default-glass-surface-focus: #ffffff;
  --eand-color-chips-default-glass-text-default: #ffffff;
  --eand-color-chips-default-glass-text-disabled: rgba(255, 255, 255, 0.50);
  --eand-color-chips-default-glass-text-focus: #191329;
  --eand-color-chips-default-inverse-border-default: rgba(255, 255, 255, 0.40);
  --eand-color-chips-default-inverse-border-disabled: rgba(255, 255, 255, 0.40);
  --eand-color-chips-default-inverse-border-focus: #ffffff;
  --eand-color-chips-default-inverse-surface-focus: #ffffff;
  --eand-color-chips-default-inverse-text-default: rgba(255, 255, 255, 0.75);
  --eand-color-chips-default-inverse-text-disabled: rgba(255, 255, 255, 0.50);
  --eand-color-chips-default-inverse-text-focus: #575362;
  --eand-color-chips-default-outline-border-default: rgba(25, 19, 41, 0.50);
  --eand-color-chips-default-outline-border-disabled: rgba(25, 19, 41, 0.20);
  --eand-color-chips-default-outline-border-focus: #191329;
  --eand-color-chips-default-outline-surface-focus: #140f21;
  --eand-color-chips-default-outline-text-default: #575362;
  --eand-color-chips-default-outline-text-disabled: #c0bfc8;
  --eand-color-chips-default-outline-text-focus: #ffffff;
  --eand-color-chips-suggestion-border-focus: rgba(25, 19, 41, 0.50);
  --eand-color-chips-suggestion-surface-default: #ffffff;
  --eand-color-chips-suggestion-surface-disabled: #e4e3ea;
  --eand-color-chips-suggestion-surface-focus: #ffffff;
  --eand-color-chips-suggestion-text-default: #575362;
  --eand-color-chips-suggestion-text-disabled: #908e9a;
  --eand-color-chips-suggestion-text-focus: #191329;
  --eand-color-dismiss-default: #908e9a;
  --eand-color-dismiss-inverse: #c0bfc8;
  --eand-color-effects-glass-lg-depth: 15px;
  --eand-color-effects-glass-lg-dispersion: 50px;
  --eand-color-effects-glass-lg-frost: 100px;
  --eand-color-effects-glass-lg-light-angle: -45px;
  --eand-color-effects-glass-lg-light-intensity: 35px;
  --eand-color-effects-glass-lg-refraction: 80px;
  --eand-color-effects-glass-lg-splay: 0px;
  --eand-color-effects-glass-md-depth: 30px;
  --eand-color-effects-glass-md-dispersion: 45px;
  --eand-color-effects-glass-md-frost: 20px;
  --eand-color-effects-glass-md-light-angle: -45px;
  --eand-color-effects-glass-md-light-intensity: 35px;
  --eand-color-effects-glass-md-refraction: 100px;
  --eand-color-effects-glass-md-splay: 0px;
  --eand-color-effects-shadow-md-blur: 44px;
  --eand-color-effects-shadow-md-color: rgba(25, 19, 41, 0.10);
  --eand-color-effects-shadow-md-position-x: 0px;
  --eand-color-effects-shadow-md-position-y: 0px;
  --eand-color-effects-shadow-md-spread: 0px;
  --eand-color-filter-pill-border-default-default: rgba(25, 19, 41, 0.50);
  --eand-color-filter-pill-border-default-disabled: rgba(25, 19, 41, 0.07);
  --eand-color-filter-pill-border-default-focus: #191329;
  --eand-color-filter-pill-border-inverse-default: rgba(255, 255, 255, 0.80);
  --eand-color-filter-pill-border-inverse-disabled: rgba(255, 255, 255, 0.40);
  --eand-color-filter-pill-border-inverse-focus: #ffffff;
  --eand-color-filter-pill-surface-inverse-focus: #f0f0f5;
  --eand-color-filter-pill-text-default-default: #575362;
  --eand-color-filter-pill-text-default-disabled: #c0bfc8;
  --eand-color-filter-pill-text-default-focus: #191329;
  --eand-color-filter-pill-text-inverse-default: rgba(255, 255, 255, 0.75);
  --eand-color-filter-pill-text-inverse-disabled: rgba(255, 255, 255, 0.50);
  --eand-color-filter-pill-text-inverse-focus: #191329;
  --eand-color-input-field-border-active: #e9524d;
  --eand-color-input-field-border-default: #d8d7de;
  --eand-color-input-field-border-disabled: rgba(25, 19, 41, 0.07);
  --eand-color-input-field-border-error: #ff9f52;
  --eand-color-input-field-border-filled: #d8d7de;
  --eand-color-input-field-surface-default-default: #ffffff;
  --eand-color-input-field-surface-default-disabled: #f7f7fa;
  --eand-color-input-field-surface-inverse-default: rgba(255, 255, 255, 0.15);
  --eand-color-input-field-surface-inverse-disabled: rgba(255, 255, 255, 0.15);
  --eand-color-input-field-text-default-Color: #ffffff;
  --eand-color-input-field-text-default-label-default: #575362;
  --eand-color-input-field-text-default-label-disabled: #c0bfc8;
  --eand-color-input-field-text-default-value-active: #191329;
  --eand-color-input-field-text-default-value-disabled: #c0bfc8;
  --eand-color-input-field-text-inverse-Color: #ffffff;
  --eand-color-input-field-text-inverse-label-default: rgba(255, 255, 255, 0.60);
  --eand-color-input-field-text-inverse-label-disabled: rgba(255, 255, 255, 0.50);
  --eand-color-input-field-text-inverse-value-active: #ffffff;
  --eand-color-input-field-text-inverse-value-disabled: rgba(255, 255, 255, 0.50);
  --eand-color-mark-default-border-default: #908e9a;
  --eand-color-mark-default-border-disabled: #d8d7de;
  --eand-color-mark-default-icon-active-disabled: #908e9a;
  --eand-color-mark-default-icon-active: #ffffff;
  --eand-color-mark-default-icon-default: #ffffff;
  --eand-color-mark-default-icon-disabled: #f0f0f5;
  --eand-color-mark-default-surface-active-disabled: #d8d7de;
  --eand-color-mark-default-surface-active: #e00800;
  --eand-color-mark-default-surface-default: #c0bfc8;
  --eand-color-mark-default-surface-disabled: #d8d7de;
  --eand-color-mark-inverse-border-default: #ffffff;
  --eand-color-mark-inverse-border-disabled: rgba(255, 255, 255, 0.40);
  --eand-color-mark-inverse-icon-active-disabled: rgba(255, 255, 255, 0.60);
  --eand-color-mark-inverse-icon-active: #e00800;
  --eand-color-mark-inverse-icon-default: #ffffff;
  --eand-color-mark-inverse-icon-disabled: rgba(255, 255, 255, 0.60);
  --eand-color-mark-inverse-surface-active-disabled: rgba(255, 255, 255, 0.40);
  --eand-color-mark-inverse-surface-active: #ffffff;
  --eand-color-mark-inverse-surface-default: #c0bfc8;
  --eand-color-mark-inverse-surface-disabled: rgba(255, 255, 255, 0.40);
  --eand-color-navbar-tab-surface-focus-special: #e00800;
  --eand-color-navbar-tab-surface-focus: #ffffff;
  --eand-color-navbar-tab-text-default: #ffffff;
  --eand-color-navbar-tab-text-focus-special: #ffffff;
  --eand-color-navbar-tab-text-focus: #e00800;
  --eand-color-section-link-glass-default-icon-default: #575362;
  --eand-color-section-link-glass-default-icon-disabled: #c0bfc8;
  --eand-color-section-link-glass-default-icon-focus: #e00800;
  --eand-color-section-link-glass-default-surface-default: rgba(255, 255, 255, 0.40);
  --eand-color-section-link-glass-default-surface-disabled: rgba(255, 255, 255, 0.15);
  --eand-color-section-link-glass-default-surface-focus: rgba(255, 255, 255, 0.40);
  --eand-color-section-link-glass-inverse-icon-default: rgba(255, 255, 255, 0.75);
  --eand-color-section-link-glass-inverse-icon-disabled: rgba(255, 255, 255, 0.50);
  --eand-color-section-link-glass-inverse-icon-focus: #ffffff;
  --eand-color-section-link-glass-inverse-surface-default: rgba(255, 255, 255, 0.20);
  --eand-color-section-link-glass-inverse-surface-disabled: rgba(255, 255, 255, 0.15);
  --eand-color-section-link-glass-inverse-surface-focus: rgba(255, 255, 255, 0.20);
  --eand-color-section-link-solid-default-icon-default: #575362;
  --eand-color-section-link-solid-default-icon-disabled: #c0bfc8;
  --eand-color-section-link-solid-default-icon-focus: #e00800;
  --eand-color-section-link-solid-default-surface-default: #ffffff;
  --eand-color-section-link-solid-default-surface-disabled: #ffffff;
  --eand-color-section-link-solid-default-surface-focus: #ffffff;
  --eand-color-section-link-solid-inverse-icon-default: #575362;
  --eand-color-section-link-solid-inverse-icon-disabled: #c0bfc8;
  --eand-color-section-link-solid-inverse-icon-focus: #e00800;
  --eand-color-section-link-solid-inverse-surface-default: #f0f0f5;
  --eand-color-section-link-solid-inverse-surface-disabled: #f0f0f5;
  --eand-color-section-link-solid-inverse-surface-focus: #f0f0f5;
  --eand-color-status-accent-focus: #bb0700;
  --eand-color-status-accent: #e00800;
  --eand-color-status-danger: #b85a1a;
  --eand-color-status-default: #191329;
  --eand-color-status-disabled-inverse: #f0f0f5;
  --eand-color-status-disabled: #c0bfc8;
  --eand-color-status-inverse: #ffffff;
  --eand-color-status-positive: #3b8b53;
  --eand-color-status-warning: #aa913a;
  --eand-color-stepper-default-active: #e73933;
  --eand-color-stepper-default-default: #e4e3ea;
  --eand-color-stepper-inverse-active: #ffffff;
  --eand-color-stepper-inverse-default: rgba(255, 255, 255, 0.40);
  --eand-color-surface-base-brand-muted: #fce6e6;
  --eand-color-surface-base-brand: #e00800;
  --eand-color-surface-base-default: #f0f0f5;
  --eand-color-surface-base-inverse: #ffffff;
  --eand-color-surface-base-midnight: #191329;
  --eand-color-surface-canvas-brand-muted: #fff2f2;
  --eand-color-surface-canvas-brand: #e73933;
  --eand-color-surface-canvas-default: #ffffff;
  --eand-color-surface-canvas-inverse: #f7f7fa;
  --eand-color-surface-canvas-midnight: #140f21;
  --eand-color-surface-glass-midnight-lg: rgba(25, 19, 41, 0.60);
  --eand-color-surface-glass-midnight-md: rgba(25, 19, 41, 0.20);
  --eand-color-surface-glass-midnight-sm: rgba(25, 19, 41, 0.07);
  --eand-color-surface-glass-white-lg: rgba(255, 255, 255, 0.20);
  --eand-color-surface-glass-white-md: rgba(255, 255, 255, 0.15);
  --eand-color-surface-glass-white-sm: rgba(255, 255, 255, 0.10);
  --eand-color-surface-glass-white-xl: rgba(255, 255, 255, 0.40);
  --eand-color-surface-overlay-floating-inverse: #191329;
  --eand-color-surface-overlay-floating-middleground: #908e9a;
  --eand-color-surface-overlay-floating: #f7f7fa;
  --eand-color-surface-overlay-scrim: rgba(25, 19, 41, 0.50);
  --eand-color-surface-raised-brand-muted: #fff2f2;
  --eand-color-surface-raised-brand: #e73933;
  --eand-color-surface-raised-default: #ffffff;
  --eand-color-surface-raised-inverse: #ffffff;
  --eand-color-surface-raised-midnight: #312c40;
  --eand-color-surface-sunken-brand-muted: #f9cecc;
  --eand-color-surface-sunken-brand: #bb0700;
  --eand-color-surface-sunken-default: #e4e3ea;
  --eand-color-surface-sunken-inverse: #f0f0f5;
  --eand-color-surface-sunken-midnight: #140f21;
  --eand-color-tab-default-surface-active: #fce6e6;
  --eand-color-tab-default-surface-default: #ffffff;
  --eand-color-tab-default-text-active: #e00800;
  --eand-color-tab-default-text-default: #908e9a;
  --eand-color-tab-inverse-surface-default: rgba(255, 255, 255, 0.20);
  --eand-color-tab-inverse-surface-focus: #ffffff;
  --eand-color-tab-inverse-text-active: #e00800;
  --eand-color-tab-inverse-text-default: #ffffff;
  --eand-color-text-brand-default: #e00800;
  --eand-color-text-brand-disabled: #a8a6b1;
  --eand-color-text-brand-focus: #bb0700;
  --eand-color-text-brand-muted: #ed6b66;
  --eand-color-text-brand-strong: #950500;
  --eand-color-text-brand-subtle: #e73933;
  --eand-color-text-danger-default: #8c3f0c;
  --eand-color-text-danger-disabled: #c0bfc8;
  --eand-color-text-danger-muted: #ffb16f;
  --eand-color-text-danger-subtle: #e07830;
  --eand-color-text-default-default: #191329;
  --eand-color-text-default-disabled: #c0bfc8;
  --eand-color-text-default-inverse-disabled: rgba(255, 255, 255, 0.50);
  --eand-color-text-default-inverse-muted: rgba(255, 255, 255, 0.60);
  --eand-color-text-default-inverse-subtle: rgba(255, 255, 255, 0.75);
  --eand-color-text-default-inverse: #ffffff;
  --eand-color-text-default-muted: #908e9a;
  --eand-color-text-default-subtle: #575362;
  --eand-color-text-positive-default: #27633b;
  --eand-color-text-positive-disabled: #c0bfc8;
  --eand-color-text-positive-muted: #9ff3b7;
  --eand-color-text-positive-subtle: #54bc72;
  --eand-color-text-warning-default: #806d2c;
  --eand-color-text-warning-disabled: #c0bfc8;
  --eand-color-text-warning-muted: #ffe68f;
  --eand-color-text-warning-subtle: #d5b549;
  --eand-font-family-aed: "Suisse int'l";
  --eand-font-family-default: "Suisse int'l";
  --eand-font-letter-spacing-none: 0px;
  --eand-font-letter-spacing-snug: -0.3499999940395355px;
  --eand-font-letter-spacing-tight: -0.6499999761581421px;
  --eand-font-line-height-loose-1: 1.25px;
  --eand-font-line-height-loose: 125%;
  --eand-font-line-height-none-1: 1px;
  --eand-font-line-height-none: 1;
  --eand-font-line-height-normal-1: 1.149999976158142px;
  --eand-font-line-height-normal: 115%;
  --eand-font-line-height-relaxed-1: 1.2000000476837158px;
  --eand-font-line-height-relaxed: 120%;
  --eand-font-line-height-snug-1: 1.100000023841858px;
  --eand-font-line-height-snug: 1.1;
  --eand-font-line-height-tight-1: 1.0499999523162842px;
  --eand-font-line-height-tight: 1.05;
  --eand-font-size-1: 10px;
  --eand-font-size-2: 12px;
  --eand-font-size-3: 14px;
  --eand-font-size-4: 16px;
  --eand-font-size-5: 20px;
  --eand-font-size-6: 24px;
  --eand-font-size-7: 28px;
  --eand-font-size-8: 32px;
  --eand-font-size-9: 40px;
  --eand-font-size-10: 48px;
  --eand-font-size-11: 56px;
  --eand-font-size-12: 64px;
  --eand-font-weight-200: 100;
  --eand-font-weight-300: 300;
  --eand-font-weight-400: 400;
  --eand-font-weight-450: 450;
  --eand-font-weight-500: 500;
  --eand-font-weight-600: 600;
  --eand-font-weight-700: 700;
  --eand-font-weight-800: 800;
  --eand-motion-duration-0: 0ms;
  --eand-motion-duration-1: 150ms;
  --eand-motion-duration-2: 300ms;
  --eand-motion-duration-3: 400ms;
  --eand-motion-duration-4: 500ms;
  --eand-motion-easing-accelerate: cubic-bezier(0.3, 0, 1, 0);
  --eand-motion-easing-deceleration: cubic-bezier(0, 0, 0.2, 1);
  --eand-motion-easing-ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
  --eand-motion-easing-ease-in: cubic-bezier(0.33, 1, 0.68, 1);
  --eand-motion-easing-ease-out: cubic-bezier(0.33, 1, 0.68, 1);
  --eand-motion-easing-linear: cubic-bezier(0, 0, 1, 1);
  --eand-rem-1: 16px;
  --eand-rem-2: 32px;
  --eand-rem-3: 48px;
  --eand-rem-4: 64px;
  --eand-rem-5: 80px;
  --eand-rem-6: 96px;
  --eand-rem-7: 112px;
  --eand-rem-8: 128px;
  --eand-rem-9: 144px;
  --eand-rem-10: 160px;
  --eand-rem-11: 176px;
  --eand-rem-12: 192px;
  --eand-rem-13: 208px;
  --eand-rem-14: 224px;
  --eand-rem-15: 240px;
  --eand-rem-16: 256px;
  --eand-rem-17: 272px;
  --eand-rem-18: 288px;
  --eand-rem-19: 304px;
  --eand-rem-20: 320px;
  --eand-rem-21: 336px;
  --eand-rem-22: 352px;
  --eand-rem-25: 400px;
  --eand-rem-28: 448px;
  --eand-rem-30: 480px;
  --eand-rem-35: 560px;
  --eand-rem-47: 752px;
  --eand-rem-75: 1200px;
  --eand-rem-0-125: 2px;
  --eand-rem-0-25: 4px;
  --eand-rem-0-5: 8px;
  --eand-rem-0-625: 10px;
  --eand-rem-0-75: 12px;
  --eand-rem-0-875: 14px;
  --eand-rem-1-25: 20px;
  --eand-rem-1-5: 24px;
  --eand-rem-1-75: 28px;
  --eand-rem-10-5: 168px;
  --eand-rem-11-5: 184px;
  --eand-rem-13-5: 216px;
  --eand-rem-15-5: 248px;
  --eand-rem-16-5: 264px;
  --eand-rem-17-5: 280px;
  --eand-rem-18-5: 296px;
  --eand-rem-18-75: 300px;
  --eand-rem-2-25: 36px;
  --eand-rem-2-5: 40px;
  --eand-rem-22-5: 360px;
  --eand-rem-23-5: 376px;
  --eand-rem-28-25: 452px;
  --eand-rem-29-5: 472px;
  --eand-rem-3-5: 56px;
  --eand-rem-34-5: 552px;
  --eand-rem-4-5: 72px;
  --eand-rem-5-5: 88px;
  --eand-rem-6-25: 100px;
  --eand-rem-7-5: 120px;
  --eand-rem-9-25: 148px;
  --eand-rem-9-5: 152px;
  --eand-fixed-states-disabled: locked;
  --eand-fixed-states-size-lg-locked: lg;
  --eand-fixed-states-size-md-locked: md;
  --eand-typography-aed-body-lg-font-family: "Suisse int'l";
  --eand-typography-aed-body-lg-font-size: 16px;
  --eand-typography-aed-body-lg-font-weight: 450;
  --eand-typography-aed-body-lg-letter-spacing: 0px;
  --eand-typography-aed-body-lg-line-height: 120%;
  --eand-typography-aed-body-md-font-family: "Suisse int'l";
  --eand-typography-aed-body-md-font-size: 14px;
  --eand-typography-aed-body-md-font-weight: 450;
  --eand-typography-aed-body-md-letter-spacing: 0px;
  --eand-typography-aed-body-md-line-height: 120%;
  --eand-typography-aed-body-sm-font-family: "Suisse int'l";
  --eand-typography-aed-body-sm-font-size: 12px;
  --eand-typography-aed-body-sm-font-weight: 450;
  --eand-typography-aed-body-sm-letter-spacing: 0px;
  --eand-typography-aed-body-sm-line-height: 120%;
  --eand-typography-aed-body-xl-font-family: "Suisse int'l";
  --eand-typography-aed-body-xl-font-size: 20px;
  --eand-typography-aed-body-xl-font-weight: 450;
  --eand-typography-aed-body-xl-letter-spacing: 0px;
  --eand-typography-aed-body-xl-line-height: 120%;
  --eand-typography-aed-body-xs-font-family: "Suisse int'l";
  --eand-typography-aed-body-xs-font-size: 10px;
  --eand-typography-aed-body-xs-font-weight: 450;
  --eand-typography-aed-body-xs-letter-spacing: 0px;
  --eand-typography-aed-body-xs-line-height: 120%;
  --eand-typography-aed-display-lg-font-family: "Suisse int'l";
  --eand-typography-aed-display-lg-font-size: 48px;
  --eand-typography-aed-display-lg-font-weight: 700;
  --eand-typography-aed-display-lg-letter-spacing: -0.6499999761581421px;
  --eand-typography-aed-display-lg-line-height: 120%;
  --eand-typography-aed-display-md-font-family: "Suisse int'l";
  --eand-typography-aed-display-md-font-size: 40px;
  --eand-typography-aed-display-md-font-weight: 700;
  --eand-typography-aed-display-md-letter-spacing: -0.6499999761581421px;
  --eand-typography-aed-display-md-line-height: 120%;
  --eand-typography-aed-heading-lg-font-family: "Suisse int'l";
  --eand-typography-aed-heading-lg-font-size: 28px;
  --eand-typography-aed-heading-lg-font-weight: 700;
  --eand-typography-aed-heading-lg-letter-spacing: -0.6499999761581421px;
  --eand-typography-aed-heading-lg-line-height: 120%;
  --eand-typography-aed-heading-md-font-family: "Suisse int'l";
  --eand-typography-aed-heading-md-font-size: 24px;
  --eand-typography-aed-heading-md-font-weight: 700;
  --eand-typography-aed-heading-md-letter-spacing: -0.3499999940395355px;
  --eand-typography-aed-heading-md-line-height: 120%;
  --eand-typography-aed-heading-sm-font-family: "Suisse int'l";
  --eand-typography-aed-heading-sm-font-size: 20px;
  --eand-typography-aed-heading-sm-font-weight: 700;
  --eand-typography-aed-heading-sm-letter-spacing: -0.3499999940395355px;
  --eand-typography-aed-heading-sm-line-height: 120%;
  --eand-typography-aed-heading-xl-font-family: "Suisse int'l";
  --eand-typography-aed-heading-xl-font-size: 32px;
  --eand-typography-aed-heading-xl-font-weight: 700;
  --eand-typography-aed-heading-xl-letter-spacing: -0.6499999761581421px;
  --eand-typography-aed-heading-xl-line-height: 120%;
  --eand-typography-aed-heading-xs-font-family: "Suisse int'l";
  --eand-typography-aed-heading-xs-font-size: 16px;
  --eand-typography-aed-heading-xs-font-weight: 700;
  --eand-typography-aed-heading-xs-letter-spacing: 0px;
  --eand-typography-aed-heading-xs-line-height: 120%;
  --eand-typography-aed-title-lg-font-family: "Suisse int'l";
  --eand-typography-aed-title-lg-font-size: 24px;
  --eand-typography-aed-title-lg-font-weight: 600;
  --eand-typography-aed-title-lg-letter-spacing: -0.3499999940395355px;
  --eand-typography-aed-title-lg-line-height: 120%;
  --eand-typography-aed-title-md-font-family: "Suisse int'l";
  --eand-typography-aed-title-md-font-size: 20px;
  --eand-typography-aed-title-md-font-weight: 600;
  --eand-typography-aed-title-md-letter-spacing: -0.3499999940395355px;
  --eand-typography-aed-title-md-line-height: 120%;
  --eand-typography-aed-title-sm-font-family: "Suisse int'l";
  --eand-typography-aed-title-sm-font-size: 16px;
  --eand-typography-aed-title-sm-font-weight: 600;
  --eand-typography-aed-title-sm-letter-spacing: 0px;
  --eand-typography-aed-title-sm-line-height: 120%;
  --eand-typography-aed-title-xl-font-family: "Suisse int'l";
  --eand-typography-aed-title-xl-font-size: 28px;
  --eand-typography-aed-title-xl-font-weight: 600;
  --eand-typography-aed-title-xl-letter-spacing: -0.3499999940395355px;
  --eand-typography-aed-title-xl-line-height: 120%;
  --eand-typography-aed-title-xs-font-family: "Suisse int'l";
  --eand-typography-aed-title-xs-font-size: 14px;
  --eand-typography-aed-title-xs-font-weight: 600;
  --eand-typography-aed-title-xs-letter-spacing: 0px;
  --eand-typography-aed-title-xs-line-height: 120%;
  --eand-typography-alerts-md-font-family: "Suisse int'l";
  --eand-typography-alerts-md-font-size: 20px;
  --eand-typography-alerts-md-font-weight: 300;
  --eand-typography-alerts-md-letter-spacing: -0.3499999940395355px;
  --eand-typography-alerts-md-line-height: 1.05;
  --eand-typography-badge-lg-font-family: "Suisse int'l";
  --eand-typography-badge-lg-font-size: 14px;
  --eand-typography-badge-lg-font-weight: 450;
  --eand-typography-badge-lg-letter-spacing: 0px;
  --eand-typography-badge-lg-line-height: 120%;
  --eand-typography-badge-md-font-family: "Suisse int'l";
  --eand-typography-badge-md-font-size: 12px;
  --eand-typography-badge-md-font-weight: 450;
  --eand-typography-badge-md-letter-spacing: 0px;
  --eand-typography-badge-md-line-height: 120%;
  --eand-typography-badge-sm-font-family: "Suisse int'l";
  --eand-typography-badge-sm-font-size: 10px;
  --eand-typography-badge-sm-font-weight: 450;
  --eand-typography-badge-sm-letter-spacing: 0px;
  --eand-typography-badge-sm-line-height: 120%;
  --eand-typography-body-lg-font-family: "Suisse int'l";
  --eand-typography-body-lg-font-size: 16px;
  --eand-typography-body-lg-font-weight: 400;
  --eand-typography-body-lg-letter-spacing: 0px;
  --eand-typography-body-lg-line-height: 120%;
  --eand-typography-body-md-font-family: "Suisse int'l";
  --eand-typography-body-md-font-size: 14px;
  --eand-typography-body-md-font-weight: 400;
  --eand-typography-body-md-letter-spacing: 0px;
  --eand-typography-body-md-line-height: 120%;
  --eand-typography-body-sm-font-family: "Suisse int'l";
  --eand-typography-body-sm-font-size: 12px;
  --eand-typography-body-sm-font-weight: 400;
  --eand-typography-body-sm-letter-spacing: 0px;
  --eand-typography-body-sm-line-height: 120%;
  --eand-typography-body-xl-font-family: "Suisse int'l";
  --eand-typography-body-xl-font-size: 20px;
  --eand-typography-body-xl-font-weight: 400;
  --eand-typography-body-xl-letter-spacing: 0px;
  --eand-typography-body-xl-line-height: 120%;
  --eand-typography-body-xs-font-family: "Suisse int'l";
  --eand-typography-body-xs-font-size: 10px;
  --eand-typography-body-xs-font-weight: 400;
  --eand-typography-body-xs-letter-spacing: 0px;
  --eand-typography-body-xs-line-height: 120%;
  --eand-typography-button-lg-font-family: "Suisse int'l";
  --eand-typography-button-lg-font-size: 16px;
  --eand-typography-button-lg-font-weight: 600;
  --eand-typography-button-lg-letter-spacing: 0px;
  --eand-typography-button-lg-line-height: 120%;
  --eand-typography-button-md-font-family: "Suisse int'l";
  --eand-typography-button-md-font-size: 14px;
  --eand-typography-button-md-font-weight: 500;
  --eand-typography-button-md-letter-spacing: 0px;
  --eand-typography-button-md-line-height: 120%;
  --eand-typography-button-sm-font-family: "Suisse int'l";
  --eand-typography-button-sm-font-size: 12px;
  --eand-typography-button-sm-font-weight: 500;
  --eand-typography-button-sm-letter-spacing: 0px;
  --eand-typography-button-sm-line-height: 120%;
  --eand-typography-display-lg-font-family: "Suisse int'l";
  --eand-typography-display-lg-font-size: 48px;
  --eand-typography-display-lg-font-weight: 700;
  --eand-typography-display-lg-letter-spacing: -0.6499999761581421px;
  --eand-typography-display-lg-line-height: 120%;
  --eand-typography-display-md-font-family: "Suisse int'l";
  --eand-typography-display-md-font-size: 40px;
  --eand-typography-display-md-font-weight: 700;
  --eand-typography-display-md-letter-spacing: -0.6499999761581421px;
  --eand-typography-display-md-line-height: 120%;
  --eand-typography-heading-lg-font-family: "Suisse int'l";
  --eand-typography-heading-lg-font-size: 28px;
  --eand-typography-heading-lg-font-weight: 700;
  --eand-typography-heading-lg-letter-spacing: -0.6499999761581421px;
  --eand-typography-heading-lg-line-height: 120%;
  --eand-typography-heading-md-font-family: "Suisse int'l";
  --eand-typography-heading-md-font-size: 24px;
  --eand-typography-heading-md-font-weight: 700;
  --eand-typography-heading-md-letter-spacing: -0.3499999940395355px;
  --eand-typography-heading-md-line-height: 120%;
  --eand-typography-heading-sm-font-family: "Suisse int'l";
  --eand-typography-heading-sm-font-size: 20px;
  --eand-typography-heading-sm-font-weight: 700;
  --eand-typography-heading-sm-letter-spacing: -0.3499999940395355px;
  --eand-typography-heading-sm-line-height: 120%;
  --eand-typography-heading-xl-font-family: "Suisse int'l";
  --eand-typography-heading-xl-font-size: 32px;
  --eand-typography-heading-xl-font-weight: 700;
  --eand-typography-heading-xl-letter-spacing: -0.6499999761581421px;
  --eand-typography-heading-xl-line-height: 120%;
  --eand-typography-heading-xs-font-family: "Suisse int'l";
  --eand-typography-heading-xs-font-size: 16px;
  --eand-typography-heading-xs-font-weight: 700;
  --eand-typography-heading-xs-letter-spacing: 0px;
  --eand-typography-heading-xs-line-height: 120%;
  --eand-typography-title-lg-font-family: "Suisse int'l";
  --eand-typography-title-lg-font-size: 24px;
  --eand-typography-title-lg-font-weight: 600;
  --eand-typography-title-lg-letter-spacing: -0.3499999940395355px;
  --eand-typography-title-lg-line-height: 120%;
  --eand-typography-title-md-font-family: "Suisse int'l";
  --eand-typography-title-md-font-size: 20px;
  --eand-typography-title-md-font-weight: 600;
  --eand-typography-title-md-letter-spacing: -0.3499999940395355px;
  --eand-typography-title-md-line-height: 120%;
  --eand-typography-title-sm-font-family: "Suisse int'l";
  --eand-typography-title-sm-font-size: 16px;
  --eand-typography-title-sm-font-weight: 600;
  --eand-typography-title-sm-letter-spacing: 0px;
  --eand-typography-title-sm-line-height: 120%;
  --eand-typography-title-xl-font-family: "Suisse int'l";
  --eand-typography-title-xl-font-size: 28px;
  --eand-typography-title-xl-font-weight: 600;
  --eand-typography-title-xl-letter-spacing: -0.3499999940395355px;
  --eand-typography-title-xl-line-height: 120%;
  --eand-typography-title-xs-font-family: "Suisse int'l";
  --eand-typography-title-xs-font-size: 14px;
  --eand-typography-title-xs-font-weight: 600;
  --eand-typography-title-xs-letter-spacing: 0px;
  --eand-typography-title-xs-line-height: 120%;
}
